@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply ml-[1rem]  text-purple-500;
}

a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1rem;
  background-color: black;
  margin-left: 1rem;
}

.router-link-active {
  @apply text-green-500;
}
